@import 'variables';

html {
	background-color: $bkg-tertiary;
}

body{
    line-height:1;
    box-sizing: border-box;
	background-color: $bkg-secondary;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button, .button {
	border: 0;
	height: 3rem;
	line-height: 3rem;
	border-radius: 1.5rem;
	display: inline-block;
	width: auto;
	text-decoration: none;
	padding: 0 24px;
	white-space: nowrap;
	cursor: pointer;
	&.primary-button {
		background-color: $bkg-secondary;
		color: $bkg-tertiary;
	}
	&.secondary-button {
		background-color: $bkg-tertiary;
		color: $text-primary;
	}
}

.contact-form {
	padding-top: 8rem;
	text-align: center;
	color: $text-primary;
	input, button {
		margin: 0 auto;
	}
	input {
		width: 50%;
		background-color: transparent;
		border: 0;
		border-bottom: solid 1px $text-primary;
		padding: .75rem 0;
		&:nth-child(n + 2) {
			margin-top: 3rem;
		}
		@include placeholder {
			color: $text-primary;
		}
	}
	button {
		margin-top: 5rem;
		min-width: 25%;
		display: block;
	}
}


header {
  text-align: center;
  padding: 1rem;
  background-color: $bkg-primary;
  overflow: hidden;
  h1 {
    padding: 3rem 0 1rem;
  }
  h3 {
    padding: 1rem 0;
  }
  .social-media {
    position: absolute;
    top: 0;
    right: 0;
    padding: 24px 16px;
    li {
      display: inline-block;
      &:nth-child(n + 2) {
        padding-left: 16px;
      }
      svg {
        width: 36px;
        fill: $text-primary;
      }
    }
  }
}

footer {
  position: relative;
  overflow: hidden;
  padding-bottom: 2rem;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    left: -33%;
    top: 0;
    display: block;
    width: 150%;
    padding-top: 150%;
    border-radius: 50%;
    background-color: $bkg-tertiary;
    z-index: -1;
  }
}
.featured-projects {
  font-size: 0;
  position: relative;
  z-index: 2;
  &::after {
    content: '';
    left: -66%;
    display: block;
    width: 250%;
    padding-top: 151%;
    border-radius: 50%;
    background-color: #FFFFFF;
    transform: rotate(0.1deg);
    position: absolute;
    z-index: -1;
    top: 0;
  }
  li .featured-project-wrapper {
	font-size: 1rem;
	vertical-align: middle;
	z-index: 0;
	position: relative;
      @include shadow(1);
    img {
        width: 100%;
        vertical-align: middle;
    }
    .featured-project-hover-content {
		transition: opacity .2s;
		opacity: 0;
		background-color: rgba(255, 255, 255, .75);
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		a {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
      .button {
        @include vertical-center();
      }
    }
  }
}

.home-button {
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px 16px;
    color: $text-primary;
    fill: $text-primary;
	    text-decoration: none;
    svg {
	    width: 24px;
    }
}

.subpage {
	header {
		padding: 3rem 1rem;
	}
	h1 {
		padding: 0 1rem 1rem 1rem;
		text-transform: none;
		strong {
			font-weight: 600;
		}
	}
	h2 {
		font-size: 1.25rem;
		font-weight: 100;
	}
	h4 {
		margin-bottom: 1rem;
	}
	p {
		font-size: 1rem;
		line-height: 1.4rem;
		text-align: justify;
	}
	p + h4 {
		margin-top: 4rem;
	}
	.subpage-content {
		position: relative;
	}
	.subpage-content-image {
		&:nth-child(n+2) {
			padding-top: .5rem;
		}
		img {
			width: 100%;
		}
	}
	.subpage-content-two-image-wrapper {
		padding-top: .5rem;
		.subpage-content-image {
			display: inline-block;
			width: calc(50% - 3px);
			vertical-align: top;
			margin-right: 0;
			padding-top: 0;
			&:nth-child(1) {
				padding-right: 1rem;
			}
			&:nth-child(2) {
				padding-left: 1rem;
			}
		}
	}
}
@media only screen and (max-width: 768px), only screen and (max-device-width : 480px) {

	.desktop-only {
		display: none;
	}
	footer {
		margin-top: -4rem;
	}
	.featured-projects {
		margin-top: 4rem;
		&::after {
		    height: 125%;
		}
		li {
			display: grid;
			&:hover {
				opacity: 1;
			}
			&:nth-child(n+2) {
				margin-top: 1rem;
			}
			.featured-project-hover-content {
				.button {
					@include vertical-center();
				}
			}
		}
	}
	.subpage-content {
		padding: 2rem;
	}
	.subpage-content-image, .subpage-content-text {
		margin-bottom: 2rem;
	}
}

@media only screen and (min-width: 769px), only screen and (min-device-width : 481px){
	.mobile-only {
		display: none;
	}
	footer {
		margin-top: 4rem;
	}
	.featured-projects {
		padding: 4rem 0 3rem;
		width: 100%;
		&::after {
		    top: calc(100vw / 5);
		}
		li {
			width: calc((100%/4) + 12px);
			display: inline-block;
			position: relative;
			&, .featured-project-wrapper {
				transition: transform ease-in-out .2s, box-shadow ease-in-out .2s, padding ease-in-out .2s;
			}
			&:nth-child(1) {
				margin-right: -80px;
				.featured-project-wrapper {
					transform: translateX(0) scale(.9);
					@include shadow(1);
				}
				&:hover {
					.featured-project-wrapper {
						transform: translateX(-100px) scale(1);
						@include shadow(2);
					}
				}
			}
			&:nth-child(2) {
				width: calc((100%/3) + 12px);
				z-index: 1;
				.featured-project-wrapper {
					transform: scale(1);
					@include shadow(2);
				}
				&:hover {
					.featured-project-wrapper {
						transform: scale(1.05);
						@include shadow(3);
					}
				}
			}
			&:nth-child(3) {
				margin-left: -80px;
				z-index: 0;
				.featured-project-wrapper {
					transform: translateX(0) scale(.9);
					@include shadow(1);
				}
				&:hover {
					.featured-project-wrapper {
						transform: translateX(100px) scale(1);
						@include shadow(2);
					}
				}
			}
			.featured-project-hover-content {
				&:hover {
					opacity: 1;
				}
			}
		}
	}
	.subpage-content-image {
		margin-right: 50%;
		padding: 0 1rem 0 2rem;
	}
	.subpage-content {
		& > .subpage-content-image, & > .subpage-content-two-image-wrapper {
			margin-right: 50%;
			padding: 0 1rem 0 2rem;
			&:nth-of-type(n+2) {
				padding-top: 4rem;
			}
		}
	}
	.subpage-content-text {
		position: absolute;
		top: 4rem;
		right: 0;
		width: 50%;
		padding: 2rem 2rem 2rem 1rem;
	}
	.subpage-content-two-image-wrapper {
		margin-right: 50%;
	}
}
.contact-form-error {
	display: none;
}