// Colors
$bkg-primary: 		#15A29B; // Teal
$bkg-secondary:		#FFFFFF; // White
$bkg-tertiary: 		#538b9e; // Blue

$text-primary:		#FFFFFF; // White
$text-secondary:	#444444; // Blackish
$text-tertiary:		#538b9e; // Blue